# List

Mutable
Can have same or differents data types
Index start at 0
list[start,end,step]

In [ ]:
list = ['Los Angeles', 'New York', 'Houston', 'Nevada']

In [ ]:
print(len(list)) # nb element in list

In [ ]:
list.sort() # sort ASC (definitively)
print(list)

In [ ]:
list.sort(reverse=True) # sort DESC (definitively)
print(list)

In [ ]:
list.sort(key=len, reverse=True) # sort according function passed as parameter key (definitively)
print(list)

In [ ]:
print(list) # original list 
print(sorted(list)) # sorted list
print(list) # original list

In [ ]:
list.append('Washington') # add element at the end of the list
print(list)

In [ ]:
list.insert(1,'Colorado') # add the element at the index 1
print(list)

In [ ]:
print(list.index('Houston')) # get index of the value Houston

In [ ]:
list[0] # return first element

In [ ]:
list[-1] # return last element

In [ ]:
list[-2]

In [ ]:
list[1:3] #return list from index 1 to 3

In [ ]:
list[2:] #return list startting from index 2

In [ ]:
list[:3] # return from beginning until index 3

In [ ]:
list[::2] # return list selecting every second entry

In [ ]:
list[::-1] # return list in reverse order

In [ ]:
list.remove('Colorado') # remove element at the index 1
print(list)

In [ ]:
list.remove('Colorado') # raise ValueError

In [ ]:
del list[:] # empty the list
print(list)

In [ ]:
del list # destroy the list variable
print(list)

In [ ]:
second_list = ['blue', 'yellow', 'red', 'green']
third_list = second_list # those two variables are pointing to the same list
print(second_list)
print(third_list)

In [ ]:
third_list = second_list[:] # both lists are differents; the content of second_list is copied into third_list
second_list.append('purple')
print(second_list)
print(third_list)

In [ ]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
print(cells[0]) # get first sublist in a list

In [ ]:
print(cells[0][0]) # get first element of the first sublist in the list

In [ ]:
([0, 1] * 10)

In [ ]:
print(['Californie', 'Arizona'] + ['Nevada', 'Texas']) # list not modified, new one created

In [ ]:
list1 = [1, 5]
list2 = [2, 8, 6]
print(list1)
print(list2)
list1.extend(list2)
print(list1) # extend list1 with value of the list2

In [ ]:
print(8 in list2) # Check if the value 8 is int the list2

# Tuples

Immutable
Can have same or different data types
Comma required

In [ ]:
print(type((1)))
print(type((1,)))
# Tuple with at least one element must have a comma in the end

In [ ]:
tup = (1, 2, 3) # like 1, 2, 3, or or 1, 2, 3 or (1, 2, 3,)
print(tup)

In [ ]:
print(len(tup)) # nb element in the tup

In [ ]:
print(tup[0]) # get first element of the tuple

In [ ]:
print(tup[5]) # raise IndexError

In [ ]:
print(tup[:2]) # get the two first elements of the tuple

In [ ]:
capitales = [('London', 'UK', 8.36), ('Paris', 'FR', 5.4), ('Madrid', 'ES', 5.36)]

In [ ]:
print(2 in tup) # Check if the value 2 is in the tup

In [ ]:
a, b, c = (1, 2, 3) # unpack tuple values in variables
print(a)
print(b)
print(c)

In [ ]:
print("a="+str(a)+" b="+str(b)+" c="+str(c))
a, b, c = c, a, b
print("a="+str(a)+" b="+str(b)+" c="+str(c))

In [ ]:
a, *b, c = (1, 2, 3, 4, 5) # extended unpack
print(a)
print(b)
print(c)

# Dictionnaries

{key1:value1, key2:value2}
Key immutable
Value mutable
Keys must be uniques

In [1]:
grades = {}
grades['Manu'] = 12
grades['Tony'] = 15
print(grades)

{'Manu': 12, 'Tony': 15}

In [ ]:
print(grades['Tony'])

In [ ]:
print(list(grades.keys())) # Return keys

In [ ]:
print(list(grades.values())) # Return values

In [ ]:
print('Manu' in grades) # Check if a key exist in the dictionnary

In [ ]:
# grades['Sam'] Trigger KeyError
print(grades.get('Sam')) # By default return None
print(grades.get('Sam', 'not found')) # If a message is in parameter then return this message if the key is not found

In [2]:
grades.setdefault('Sam', 16) # Insert in the dict only if the key not exist
grades.setdefault('Sam', 20)
print(grades)

{'Manu': 12, 'Tony': 15, 'Sam': 16}

In [15]:
grades.update({'David',8})
print(grades)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
grades['Tony'] = 20
print(grades)

In [ ]:
grades['Manu'] = 20
print(grades)

In [ ]:
print(len(grades)) # nb element in the dictionnary

In [4]:
for grade in grades:
    print(grade)
# same as 
for grade in grades.keys():
    print(grade)

Manu
Tony
Sam
Manu
Tony
Sam

In [6]:
for grade in grades.values():
    print(grade)

12
15
16

In [10]:
for name, grade in grades.items():
    print(name, "a eu ", grade)

Manu a eu  12
Tony a eu  15
Sam a eu  16

In [ ]:
del grades['Manu']
print(grades)